<!DOCTYPE html>
<html>
<head>
  <title>Cumulonimbus</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Neuton:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
  <!-- <link rel="stylesheet" href="app/assets/stylesheets/fontawesome/css/font-awesome.min.css"> -->
  <link rel="stylesheet" href="https://unpkg.com/react-select/dist/react-select.css">
  <!-- <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
  <script>
    function start() {
      gapi.load('auth2', function() {
        auth2 = gapi.auth2.init({
          client_id: '103867363030-iq1ait30ssbtobrqhcmugffnjgvsok9d.apps.googleusercontent.com',
          // Scopes to request in addition to 'profile' and 'email'
          //scope: 'additional_scope'
        });
      });
    }
  </script> -->
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <script>
  jQuery(function() {
  return $.ajax({
    url: 'https://apis.google.com/js/client:plus.js?onload=gpAsyncInit',
    dataType: 'script',
    cache: true
  });
});
  window.gpAsyncInit = function() {

    gapi.auth.authorize({
      immediate: true,
      response_type: 'code',
      cookie_policy: 'single_host_origin',
      client_id: '103867363030-iq1ait30ssbtobrqhcmugffnjgvsok9d.apps.googleusercontent.com',
      scope: 'email profile'
    }, function(response) {
      return;
    });
  }
  </script> -->


<%= yield %>

</body>
</html>
